* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}
li{
    list-style: none;
}
.flexbox{
    display: flex;
}

#wrap{
    width: 100%;
    margin: auto;
}
header{
    width: 100%;
}
.headerbox{
    width: 100%;
    max-width: 1400px;
    height: 12.8rem;
    position: relative;
    margin: auto;
}
.inner{
    width: 100%;
    height: 70px;
}
.innerbox{
    width: 20%;
    height: 70px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 10rem;
    justify-content: space-around;
    font-size: 1.6rem;
    top: .5rem;
    right: .5rem;
}
.innerbox li a{
    font-size: 1.6rem;
}
.gnb{
    width: 100%;
    height: 60px;
    /* background-color: yellow; */
    display: flex;
}
.logobox{
    width: 100%;
    /* border: 1px solid black; */
    
}
.logo{
    height: 3rem;
    position: absolute;
    top: 2rem;   
}
.logo img{
    width: 250px;
    background-size: 27.2rem 3rem;
}

.search{
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: .5rem;
}
.search img{
    height: 20px;
    width: 20px;
}
.cearch_img{
    justify-content: space-around;
}

.gnb{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gnb_li{
    gap: 10rem;
    margin-left: 7.5rem;
    font-weight: 500;
    padding: 1.2rem 2rem;
    display: flex;
}
.mainimg{
    width: 100%;
    height: 440px;
    display: flex;
    background: url(./image/main_bg.jpg) center no-repeat;
    background-color: #21273f;
    gap: 2rem;
}

.imgbox{
    position: absolute;
    width: 400px;
    height: 400px;
    top: 200px;
    right:420px;
    /* background-color: red; */
    z-index: 2;
    gap: 2rem;
}
.imgbox1{
    position: absolute;
    width: 400px;
    height: 400px;
    top: 200px;
    right: 850px;
    /* background-color: blue; */
    z-index: 1;
}
.imgbox2{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 350px;
    right: 280px;
}

.container{
    width: 100%;
    height: 200px;
    background: beige;
    position: relative;
}
.ca1{
    width: 100%;
    background: #f5f6fa;
    display: flex;
    padding: 120px 0 10px;
}
.ca1_1{
    margin: 0 auto 50px;
    width: 624px;
    height: 100px;
    display: flex;
    align-items: center; 
    gap: .1rem;
}
.ca1box{
    width: 500px;
    height: 60px;
    background-color: rgb(140, 140, 131);
}
.ca1boxs{
    width: 150px;
    height: 60px;
    background-color: rgb(243, 243, 25);
}

.ca2{
    background: #f5f6fa;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.ca2_box{
    width: 227px;
    height: 243px;
    background-color: red;
}
.ca3{
    background: #fff;
    width: 100%;
    height: 800px;
    text-align: center;
    border: 1px solid black;
    padding: 100px 0;
}
.ca3_text{
    border: 1px solid black;
}
.ca3_text h3{
    font-weight: 400;
}
.ca3_box{
    width: 100%;
    height: 800px;
    border: 1px solid black;
}
.ca3_box1{
    width: 50%;
    height: 300px;
    border: 1px solid black;
}
.ca3_box2{
    width: 30%;
    height: 500px;
    border: 1px solid black;
}
.ca4{
    background: #f5f6fa;
}

footer{
    width: 100%;
    height: 300px;
    background: rgb(0, 0, 0);
}